form { 
    max-width: 620px;
  margin: auto;
  padding: 10px;
  background-color: purple;
  opacity: 0.8;
 }
legend { 
    font-weight: bold;
 }
label { 
      display: inline-block;
      width: 200px; 
      clear: left;
     }
input.text { 
    display: block; 
    width: 300px; 
    float: left; 
}
input.submit { 
    margin:20px 0 0 200px; 
    width: auto; 
}
h1 {
text-align: center;
}
html {
    background-image: url("https://i.pinimg.com/originals/9c/26/e4/9c26e4ef3e58a2e063ace1885b791f92.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body, html {
    height: 100%;
  }
  
img {
    opacity: 0.5;
  }